In [3]:
name = "Sandra"
print (name)

Sandra

In [10]:
A= 'area of rectangle'
width = float(5.5)
height = float(7.2)
area = (width * height)
print (area)

39.6

In [13]:
s = 'sentence'
sentence = "Today is a wonderful day"
sentence

'Today is a wonderful day'

In [1]:
favourite_fruits = ('Apple','Pineaple','Orange','Cucumber','Watermelon')

list(favourite_fruits)

['Apple', 'Pineaple', 'Orange', 'Cucumber', 'Watermelon']

In [2]:
favourite_fruits = ('Apple','Pineaple','Orange','Cucumber','Watermelon')
favourite_fruit.append('mango')
print(favourite_fruit)

NameError: name 'favourite_fruit' is not defined

In [3]:
list.drop()

AttributeError: type object 'list' has no attribute 'drop'

In [ ]:
append(favourite_fruit)

In [29]:
total = 0
my_list = [2,4,5,7,8,9]
for hel in range (0, len(my_list)):
    total = total + my_list[hel]
    print('sum of all elements in a given list:', total)

sum of all elements in a given list: 2
sum of all elements in a given list: 6
sum of all elements in a given list: 11
sum of all elements in a given list: 18
sum of all elements in a given list: 26
sum of all elements in a given list: 35

In [33]:
list_0f_numbers[1,2,3,4,5,6,7,8,9,10]
for  line,list_of_numbers in enumerate(list_0f_numbers,1):
print (line)

IndentationError: expected an indented block after 'for' statement on line 2 (3376533550.py, line 3)

In [ ]:
#Tuples

In [37]:
colours =('red','blue','purple')

print (colours[0])
print (colours[1])
print (colours[2])

red
blue
purple

In [38]:
#It results in an error
colours[0] = 'green'

TypeError: 'tuple' object does not support item assignment

In [39]:
my_favourite_books = ('The Bible', 'There was a country','The Refiners fire')
print(my_favourite_books[0])
print(my_favourite_books[1])
print(my_favourite_books[2])

The Bible
There was a country
The Refiners fire

In [42]:
my_tuple= ('red','blue','purple')
my_list = list(my_tuple)
print(my_list)

['red', 'blue', 'purple']

In [44]:
my_tuple(my list):
print(my_tuple)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3405297127.py, line 1)

In [ ]:
#Python Operators

In [ ]:
radius = int()
area = float()
pi = float(3.14159)
calculate =

In [47]:

radius = int()
area = float()
pi = float(3.14159)
r = float(input('input the radius of the circle: '))
print ('the area of the circle with radius' + str(r) + 'is:' + str(pi *r**2))

input the radius of the circle: 15
the area of the circle with radius15.0is:706.85775

In [56]:
x = int(input())
y = int(input())
pow(x, y)
print(pow)

2
2
<built-in function pow>

In [ ]:
num= int(input('enter a number'))
if (num% 2) == 0:
    print ('the provided number is even')
else: 
     print('the provided number is odd')

In [ ]:

    q =n//m
    print('quotient:',q)

r = n%m 
    print('remainder', r)